[repository]
ROOT = /data/git/gitea-repositories

[server]
DOMAIN   = {{getenv "GITEA_SERVER_DOMAIN"}}
ROOT_URL = {{getenv "GITEA_SERVER_ROOT_URL"}}
SSH_PORT = {{getenv "GITEA_SERVER_SSH_PORT"}}

[database]
DB_TYPE  = postgres
HOST     = db:5432
USER     = gitea
PASSWD   = gitea

[security]
INSTALL_LOCK = true
REVERSE_PROXY_AUTHENTICATION_USER = X-Forwarded-User

[service]
ENABLE_NOTIFY_MAIL                      = {{getenv "GITEA_SERVICE_ENABLE_NOTIFY_MAIL"}}
ENABLE_REVERSE_PROXY_AUTHENTICATION     = {{getenv "GITEA_SERVICE_ENABLE_REVERSE_PROXY_AUTHENTICATION"}}
ENABLE_REVERSE_PROXY_AUTO_REGISTRATION  = {{getenv "GITEA_SERVICE_ENABLE_REVERSE_PROXY_AUTO_REGISTRATION"}}
DISABLE_REGISTRATION                    = {{getenv "GITEA_SERVICE_DISABLE_REGISTRATION"}}
SHOW_REGISTRATION_BUTTON                = {{getenv "GITEA_SERVICE_SHOW_REGISTRATION_BUTTON"}}

[mailer]
ENABLED      = {{getenv "GITEA_MAILER_ENABLED"}}
FROM         = {{getenv "GITEA_MAILER_FROM"}}
HOST         = {{getenv "GITEA_MAILER_HOST"}}
USER         = {{getenv "GITEA_MAILER_USER"}}
PASSWD       = {{getenv "GITEA_MAILER_PASSWD"}}
SKIP_VERIFY  = {{getenv "GITEA_MAILER_SKIP_VERIFY"}}

[log]
LEVEL = Info
