RUN_MODE = {{getenv "GITEA_RUN_MODE"}}

[repository]
ROOT = /data/git/gitea-repositories

[server]
DOMAIN           = {{getenv "GITEA_SERVER_DOMAIN"}}
ROOT_URL         = {{getenv "GITEA_SERVER_ROOT_URL"}}
SSH_PORT         = {{getenv "GITEA_SERVER_SSH_PORT"}}
STATIC_ROOT_PATH = {{getenv "GITEA_SERVER_STATIC_ROOT_PATH"}}

[database]
DB_TYPE  = {{getenv "GITEA_DATABASE_DB_TYPE"}}
HOST     = {{getenv "GITEA_DATABASE_HOST"}}
NAME     = {{getenv "GITEA_DATABASE_NAME"}}
USER     = {{getenv "GITEA_DATABASE_USER"}}
PASSWD   = {{getenv "GITEA_DATABASE_PASSWD"}}
SSL_MODE = {{getenv "GITEA_DATABASE_SSL_MODE"}}
PATH     = {{getenv "GITEA_DATABASE_PATH"}}

[security]
INSTALL_LOCK                      = true
REVERSE_PROXY_AUTHENTICATION_USER = {{getenv "GITEA_SECURITY_REVERSE_PROXY_AUTHENTICATION_USER"}}

[service]
DISABLE_REGISTRATION                   = {{getenv "GITEA_SERVICE_DISABLE_REGISTRATION"}}
ENABLE_NOTIFY_MAIL                     = {{getenv "GITEA_SERVICE_ENABLE_NOTIFY_MAIL"}}
ENABLE_REVERSE_PROXY_AUTHENTICATION    = {{getenv "GITEA_SERVICE_ENABLE_REVERSE_PROXY_AUTHENTICATION"}}
ENABLE_REVERSE_PROXY_AUTO_REGISTRATION = {{getenv "GITEA_SERVICE_ENABLE_REVERSE_PROXY_AUTO_REGISTRATION"}}

[mailer]
ENABLED     = {{getenv "GITEA_MAILER_ENABLED"}}
HOST        = {{getenv "GITEA_MAILER_HOST"}}
FROM        = {{getenv "GITEA_MAILER_FROM"}}
USER        = {{getenv "GITEA_MAILER_USER"}}
PASSWD      = {{getenv "GITEA_MAILER_PASSWD"}}
SKIP_VERIFY = {{getenv "GITEA_MAILER_SKIP_VERIFY"}}

[session]
PROVIDER         = {{getenv "GITEA_SESSION_PROVIDER"}}
PROVIDER_CONFIG  = {{getenv "GITEA_SESSION_PROVIDER_CONFIG"}}
COOKIE_SECURE    = {{getenv "GITEA_SESSION_COOKIE_SECURE"}}
COOKIE_NAME      = {{getenv "GITEA_SESSION_COOKIE_NAME"}}
GC_INTERVAL_TIME = {{getenv "GITEA_SESSION_GC_INTERVAL_TIME"}}

[log]
LEVEL = {{getenv "GITEA_LOG_LEVEL"}}
