[repository]
ROOT = /data/git/gogs-repositories

[server]
DOMAIN   = {{getenv "GOGS_DOMAIN"}}
ROOT_URL = {{getenv "GOGS_ROOT_URL"}}
SSH_PORT = {{getenv "GOGS_SSH_PORT"}}

[database]
DB_TYPE  = postgres
HOST     = db:5432
USER     = gogs
PASSWD   = gogs

[security]
INSTALL_LOCK = true
REVERSE_PROXY_AUTHENTICATION_USER = X-Forwarded-User

[service]
ENABLE_NOTIFY_MAIL                      = {{getenv "GOGS_SERVICE_ENABLE_NOTIFY_MAIL"}}
ENABLE_REVERSE_PROXY_AUTHENTICATION     = true
ENABLE_REVERSE_PROXY_AUTO_REGISTRATION  = true

[mailer]
ENABLED      = {{getenv "GOGS_MAILER_ENABLED"}}
FROM         = {{getenv "GOGS_MAILER_FROM"}}
HOST         = {{getenv "GOGS_MAILER_HOST"}}
USER         = {{getenv "GOGS_MAILER_USER"}}
PASSWD       = {{getenv "GOGS_MAILER_PASSWD"}}
SKIP_VERIFY  = {{getenv "GOGS_MAILER_SKIP_VERIFY"}}

[log]
LEVEL = Info
